
<!DOCTYPE html>
<html lang=zh-CN>
    <head>
        <meta charset=utf-8>
        <meta http-equiv=X-UA-Compatible content="IE=edge">
        <meta name=viewport content="width=device-width,initial-scale=1">
        <title>Python Flask Todo</title>
        <meta name=description content="python,flask,todo">
        <meta name=keywords content="python , flask ,todo">
        <meta name=author content="litchi">
        <link href=https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css rel=stylesheet>
    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <h1>awesome-flask-todo</h1>
            </div>
            <div class="row">
                <div class="col-lg-10">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
        
        <footer class="footer">
            <div class="container">
                <p class="text-muted">Copyright © litchi 2017</p>
            </div>
        </footer>
    </body>
</html>